ADMIN_PIN=0000
GITHUB_TOKEN=github_pat_xxx
GITHUB_OWNER=Hmeeti
GITHUB_REPO=unipub-menu
GITHUB_BRANCH=main
GITHUB_PATH=js/menu-data.js
SESSION_SECRET=change-me
MENU_URL=https://hmeeti.github.io/unipub-menu/
PORT=3000
